body{
    margin: 0px;
    padding:0px;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
}
@font-face{
    font-family: anson;
    src: url("../font/anson-regular-webfont.ttf");
}
.header{
    background-color: rgb(10, 10, 10);
    height: 50px;
    width: 100%;
}
.title{
    color:white;
    font-size: 28px;
    font-family: anson;
    text-align: center;
    padding-top:9px ;
}
.nav{
    background-color:rgb(15, 15, 15) ;
    float: left;
    width: 15%;
    height: 1080px;
    padding-top: 1%;
    transition: width 750ms;
}
.Open{
    display: none;

    margin-left: 32% ;

}
.Close{
    float: right;
    margin-right: 9%;
    transition: 700ms width;

}
.divHist{
    font-family: arial;
    margin-bottom: 5%;
    margin-left: 9%;
    margin-top: 12%;
    width: 65%;
}
.divExem{
    font-family: arial;
    margin-bottom: 5%;
    margin-left: 9%;
    width: 65%;
    margin-top: 1%;
}
.divAbout{
    font-family: arial;
    margin-bottom: 5%;
    margin-left: 9%;
    width: 65%;
    margin-top: 1%;
}

.nav div a{
      font-size: 110%;
      color: rgb(192, 192, 192);
}
.nav div a:hover{
    color: white;
}
.version{
    color: aliceblue;
    font-family: arial;
    font-size: 11px;

    position: fixed;
    bottom: 3%;
    left: 0.5%;
    

}
.section{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    height: 580px;

}
.histText{

    color: white;
    font-family: arial;
    display: none;
}
.histText h1{
    margin-bottom: 3%;
}
.histText p {
    color: rgb(209, 209, 209);
    font-size: 18px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(156, 156, 156);
}