body{
    margin: 0px;
    padding:0px;
    background-color: rgb(22, 22, 22);
    overflow: hidden;
}
@font-face{
    font-family: anson;
    src: url("../font/anson-regular-webfont.ttf");
}
.header{
    background-color: rgb(10, 10, 10);
    height: 50px;
    width: 100%;
}
.title{
    color:white;
    font-size: 28px;
    font-family: anson;
    text-align: center;
    padding-top:9px ;
}
.nav{
    background-color:rgb(15, 15, 15) ;
    float: left;
    width: 14%;
    height: 1080px;
    padding-top: 1%;
    transition: width 750ms;
}
.Open{
    display: none;

    margin-left: 36% ;

}
.Close{
    float: right;
    margin-right: 9%;
    transition: 700ms width;

}
.divHist{
    font-family: arial;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-top: 12%;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 91%;
    display: flex;
    align-items: center;
}
.divExem{
    font-family: arial;
    margin-bottom: 5%;
    margin-left: 8%;
    margin-top: 1%;
    padding-left: 4px;
    padding-top: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 91%;
    display: flex;
    align-items: center;
}
.divAbout{
    font-family: arial;
    margin-bottom: 5%;
    margin-left: 8%;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 91%;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.nav div a{
      font-size: 110%;
      color: rgb(192, 192, 192);
      margin-left:4px;
      padding-top: 5px;
    }
.nav div a:hover{
    color: white;
}
.version{
    color: aliceblue;
    font-family: arial;
    font-size: 11px;

    position: fixed;
    bottom: 3%;
    left: 0.5%;
    

}
.section{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    height: 580px;

}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(156, 156, 156);
}
.histText{

    color: white;
    font-family: arial;
    display: none;
}
.histText h1{
    margin-bottom: 3%;
    margin-top: 10px;
}
.histText p {
    color: rgb(209, 209, 209);
    font-size: 18px;
}
.exemText{

    color: rgb(255, 255, 255);
    font-family: sans-serif;
    display: none;
}
.exemText h1{
    margin-bottom: 2%;
    margin-top: 2%;
}

.exemText p {
    color: rgb(209, 209, 209);
    font-size: 18px;
    font-family: arial;
}
@media screen and (min-width:1920px){
    .section{
        height: 880px;
    }
    .divHist img{
        width: 50px;
    }
    .divExem img{
        width: 50px;
    }
    .divAbout img{
        width: 50px;
    }
    .nav div a{
        font-size: 130%;
    }
}
